<nav>
  <div class="nav-wrapper">
    <%= link_to "FlickTreck", root_path, class: "brand-logo" %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Log In", login_path %></li>
      <li><%= link_to "User Dashboard", user_path(1) %></li>
    </ul>
  </div>
</nav>